<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Bing Quote Of The Day - dshaw0004</title>
</head>
<body>
    <h1>Quote of the day - Bing</h1>    
    <p>Date :- {{quote['date']}}</p>
    <blockquote>
            <q>{{quote['quote']}}</q>
             - {{quote['author']}}
    </blockquote>
    <p>About the Author:</p>
    <p>{{quote['aboutAuthor']}}</p>

    <p>If you want to use this quote in your application then you can use the <code>/quote/bing-quote/today</code> endpoint.</p>
</body>
</html>
