{% extends "catpics/base.html" %}

{% block main %}
<main>
        <div class="card-container">
                {% if not posts %}
                <h3>No Post Yet</h3>
                {% else %}
                        {% for post in posts %}
                        <div class="card">
                                <div class="img_info">
                                    <div class="username">
                                        {% include "catpics/components/profilePic.svg" %}
                                        <h4 class="username">{{ post.username }}</h4>
                                    </div>
                                <p class="uploadedOn">{{ post.uploadedOn }}</p>
                                </div>
                                <img src={{ post.url }} alt=""/>
                        </div>
                        {% endfor %}
                {% endif %}
        </div>
</main>
{% endblock %}

{% block customcss %}
<style>
.card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.5em;
}
.card{
        --border-radius: 1rem;
        box-sizing: border-box;
        outline: 1px solid grey;
        width: clamp(150px, 80%, 512px);
        border-radius: var(--border-radius);
        display: grid;
        gap: 0.25em;

        background-color: rgba(225, 200, 200, 0.75);
        -webkit-backdrop-filter: blur(1em);
        backdrop-filter: blur(1em);
}
div.img_info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        margin: 0.5ch 1ch;
}
div.img_info div.username {
        display: flex;
        gap: 4px;
        align-items: center;
}
div.img_info p.uploadedOn {
        justify-self: end;
}
.card img{
        display: block;
        width: 100%;
        margin-inline: auto;
        border-radius: var(--border-radius);
}

</style>
{% endblock %}
