{% extends "catpics/base.html" %}

{% block main %}

<main class="login-page-main">
	<form action="/catpics/signup" method="post" enctype="multipart/form-data">
		<h2>Sign Up to CatPics</h2>
		<div>
			<label for="username">Username :</label>
			<input type="text" id="username" name="username" />
		</div>
		<div>
			<label for="password">Password :</label>
			<input type="password" id="password" name="password" />
		</div>
		<button>Create New<button>
	</form>

<p>already have an account, <a href={{url_for('catpics.login_page')}}>log in</a></p>
</main>

{% endblock %}

{% block customcss %}
<style>
.login-page-main form button {
	font-size: 1em;
	background-color: transparent;
	border: 1px solid black;
	border-radius: 1ch;
	padding: 0.25ch 0.5ch;
}
</style>
{% endblock %}
